<div class="big-container">
  <div class="header">
    <div class="light-blue-bg"></div>
    <div class="dark-blue-bg"></div>
  </div>
  <img src="../../assets/images/The-Ellis-Foundation-2020.png" alt="Logo">

<div class="container">
    <h2>Set Up Password</h2>
    <form (ngSubmit)="setPassword()" #passwordSetupForm="ngForm">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password"
               [ngClass]="{'border-green': passwordsMatch, 'border-red': !passwordsMatch}" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
               [ngClass]="{'border-green': passwordsMatch, 'border-red': !passwordsMatch}" 
                required>
      </div>
      <!-- <div class="warning-container" *ngIf="passwordSetupForm.submitted && password.trim() === ''">
        Password is empty!
      </div> -->
      <button type="submit">Save</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  </div>
</div>